{% extends "base.html" %}
{% load static %}

{% block title %}Verify Your Email Address{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/account/verification_sent.css' %}" >
<div class="verification-container" role="main" aria-labelledby="verification-title">
    <h1 id="verification-title" class="verification-heading">Verify Your Email Address</h1>
    <p class="verification-message">
        We have sent an e-mail to you for verification. 
        Follow the link provided to finalize the signup process. 
        <span>Please contact us if you do not receive it within a few minutes.</span> </p>
</div>
{% endblock %}
