{% load static %}

<link rel="stylesheet" href="{% static '/css/best-sellers.css' %}">

<section class="best-sellers-container">

    <h2>Best Sellers</h2>
    <div class="product-grid">

        <div class="product-card">
            <div class="product-image">
                <img src="{% static '' %}" alt="Retinol 0.1% Night Mask">
            </div>
            <h3 class="product-title">Retinol 0.1% Night Mask</h3>
            <p class="product-description">With 0.1% Retinol and Hydrating Botanicals, this mask renews and nourishes overnight.</p>
            <div class="product-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="product-price">€95,00</p>
            <button class="add-to-cart-btn">Add to Cart</button>
        </div>

    </div>
    </section>

