{% load static %}

<link rel="stylesheet" href="{% static '/css/hero-section.css' %}">

<section class="hero-section" aria-labelledby="hero-title">
  <div class="hero-content">
    <div class="hero-image" role="img" aria-label="Bright Eyes skincare products">
      <link rel="preload" href="/static/images/hero-image.webp" as="image">
    </div>
    <div class="hero-text">
      <h3 id="hero-title">Bright Eyes, Naturally</h3>
      <p>
        Transform your skincare routine with NouriSkin's Retinol Alternative Eye Cream. Powered by 
        <strong>1% Bakuchiol</strong> and <strong>Peptides</strong>, it rejuvenates, smooths, and nourishes for brighter, younger-looking eyes.
      </p>
      <a href="{% url 'product_detail' 55 %}" class="cta-button" role="button" aria-label="Discover the benefits of NouriSkin Eye Cream">Discover the Benefits</a>
    </div>
  </div>
</section>
