{% load static %}

<link rel="stylesheet" href="{% static '/css/newsletter.css' %}">
<section class="newsletter">
    <div class="newsletter-container">
        <h1>Get Glowing With Exclusive Updates</h1>
        <p>
            Stay In The Know With Personalized Skincare Insights, Limited-Time Offers, 
            And The Latest NouriSkin News.
        </p>
        <form class="newsletter-form">
            <input type="email" placeholder="you@example.com" required />
            <button type="submit">Submit</button>
        </form>
    </div>
</section>

