{% load static %}

<link rel="stylesheet" href="{% static '/css/newsletter.css' %}">
<section class="newsletter">
    <div class="newsletter-container">
        <h1>Get Glowing With Exclusive Updates</h1>
        <h2>Subscribe to Our Newsletter</h4>
        <p>Stay updated with the latest news and exclusive offers.</p>
        <form 
            action="https://herokuapp.us7.list-manage.com/subscribe/post?u=1894627d3b1a7dc53b67657c8&amp;id=da5bbae68c&amp;f_id=00a4dde3f0" 
            method="post" 
            id="mc-embedded-subscribe-form" 
            name="mc-embedded-subscribe-form" 
            class="newsletter-form validate" 
            target="_self" 
            novalidate>
            
            <input 
                type="email" 
                name="EMAIL" 
                class="required email" 
                id="mce-EMAIL" 
                placeholder="Enter your email" 
                required>
            
            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                <input type="text" name="b_1894627d3b1a7dc53b67657c8_da5bbae68c" tabindex="-1" value="">
            </div>
            
            <button type="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
        </form>
    </div>
</section>

