{% load static %}
<link rel="stylesheet" href="{% static '/css/showcase.css' %}">
<section class="product-showcase">
  <div class="image-container">
    <img src="{% static 'images/showcase.webp' %}" alt="NouriSkin Skincare Collection">
  </div>
  <div class="text-container">
    <h2>A Complete Collection for Every Skin Need</h2>
    <p>Explore a curated range of skincare essentials, crafted to cleanse, hydrate, and rejuvenate. From lightweight serums to nourishing creams, each product is designed to complement your routine and deliver visible results with every use.</p>
  </div>
</section>
