{% extends "base.html" %}
{% load static %}

{% block title %}Checkout{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">

<section class="checkout-page">
    <div class="checkout-form-container">
        <h6 class="checkout-form-title">Details</h6>
        <form method="post" id="payment-form" class="checkout-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.full_name }}
            </div>
            <div class="form-group">
                {{ form.email }}
            </div>
        
            <h6 class="checkout-form-title">Delivery</h6>
            <div class="form-group">
                {{ form.phone_number }}
            </div>
            <div class="form-group">
                <span class="country-field">{{ form.country }}</span>
            </div>
            <div class="form-group">
                {{ form.postcode }}
            </div>
            <div class="form-group">
                {{ form.town_or_city }}
            </div>
            <div class="form-group">
                {{ form.street_address1 }}
            </div>
            <div class="form-group">
                {{ form.street_address2 }}
            </div>
            <div class="form-group">
                {{ form.county }}
            </div>

            <h6 class="checkout-form-title">Payment</h6>
            <div id="card-element" class="form-group">
            </div>
            <div id="card-errors" role="alert"></div>

            <div class="form-buttons">
                <button type="button" class="adjust-cart-btn" onclick="location.href='{% url 'view_cart' %}'">Adjust Cart</button>
                <button type="submit"  id="submit-button"  class="complete-order-btn">Complete Order <i class="fas fa-lock"></i></button>
            </div>
            <input type="hidden" value="{{ client_secret }}" name="client_secret">
            <p class="payment-message">
                <i class="fas fa-info-circle" title="Your card will be charged this amount, including delivery charges."></i>
                Your card will be charged: <strong>€{{ grand_total }}</strong>
            </p>
        </form>
    </div>

    <div class="order-summary-container">
        <h2>Your Cart</h2>
        {% for item in cart_items %}
        <div class="summary-container">
            <div class="summary-card">
                <div class="summary-image">
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="product-image">
                </div>
                <div class="summary-details">
                    <h3>{{ item.product.name }}</h3>
                    <p>Quantity: {{ item.quantity }}</p>
                    <p>Price: €{{ item.product.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="summary-total">
            <div class="summary-row">
                <div class="subtotal-label">Subtotal</div>
                <div class="subtotal-value">€{{ total }}</div>
            </div>
            <div class="summary-row">
                <div class="delivery-label">Delivery</div>
                <div class="delivery-value">
                    {% if delivery == "Free" %}
                        Free
                    {% else %}
                        €{{ delivery }}
                    {% endif %}
                </div>
            </div>
            <div class="divider-line"></div>
            <div class="summary-row total-row">
                <div class="total-label">Total</div>
                <div class="total-value">€{{ grand_total }}</div>
            </div>
        </div>
    </div>
</section>

<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block corejs %}
{{ block.super }}
<script>
    var clientSecret = "{{ client_secret|escapejs }}";
</script>
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
