/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

fieldset {
    border: 0;
}

textarea,
select,
input,
button {
    border: 0;
    outline: 0;
    font: inherit;
}

button {
    background: none;
    cursor: pointer;
}

/* Variables */
:root {
    --white: #FCFCFC;
    --black: #131313;
    --gray-dark: #474747;
    --olive-light: #DBD769;
    --gray-light: #9F9F9F;
    --font-family: 'Afacad', serif;
}

/* Global */
body {
    font-family: var(--font-family);
    font-size: 1rem;
    color: var(--black);
    background-color: var(--white);
}

/* Navbar */
.navbar-header {
    padding: 1.4rem 5rem;
    border-bottom: 0.0625rem solid #d9d9d9;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 1rem;
    text-transform: uppercase;
}

.navbar-logo a {
    flex: 0 0 auto;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: var(--black);
}

.navbar-menu {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
}

.navbar-menu li a {
    color: var(--black);
    position: relative;
}

.navbar-menu li a::after {
    content: '';
    position: absolute;
    bottom: -0.125rem;
    right: 0;
    width: 0;
    height: 0.125rem;
    background-color: var(--olive-light);
    transition: width 0.3s ease;
}

.navbar-menu li a:hover::after {
    width: 100%;
}

.navbar-toggle {
    display: none;
    color: var(--black);
}

.navbar-icons {
    display: flex;
    gap: 1.3rem;
    top: 0.4rem;
    position: relative;
}

.hidden {
    display: none !important;
}

.fa-solid,
.fas {
    font-size: 1.2rem;
    color: var(--black);
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    bottom: 0.5rem;
}

.search-form {
    position: relative;
    overflow: hidden;
    width: 0;
    transition: width 0.4s ease;
    display: flex;
    align-items: center;
}

.search-form.active {
    width: 15.625rem;
    margin-left: 0.625rem;
    border-radius: 3.75rem;
}

.search-input {
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 100%;
}

/* media queries */
@media (max-width: 1024px) {
    .navbar-header {
        padding: 1rem;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 3.5rem;
        left: 0;
        right: 0;
        padding: 1rem 0;
        height: 100vw;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-logo {
        order: 2;
        position: relative;
        right: 0.2rem;
        margin-right: auto;
    }

    .fa-solid,
    .fas {
        font-size: 1.3rem;
    }

    .navbar-icons {
        gap: 0.7rem;
        top: 0.6rem;
        left: 1.3rem;
        order: 3;
        margin: 0 auto;

    }
}