{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NouriSkin  - Skincare for You</title>
    <!-- Link to the base.css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <h1>NouriSkin</h1>
        <nav>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
    </footer>
</body>
</html>
