.best-sellers-container h2,
.product-grid,
.product-card,
.product-image,
.product-title,
.product-description,
.add-to-cart-btn,
.add-to-cart-btn:hover {
    transition: all 0.4s ease;
}

.best-sellers-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
}

.best-sellers-container h2 {
    text-transform: uppercase;
    font-size: 4.8rem;
    padding: 2rem 0;
    width: 100%;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    max-width: 75rem;
    width: 100%;
    padding-bottom: 3rem;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 1rem;
}

.product-image {
    background-color: hsla(0, 0%, 93%, 0.831);
    height: 23rem;
    margin-bottom: 1rem;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-title {
    font-weight: 700;
    color: var(--black);
    text-align: left;
}

.product-title a {
    color: var(--gray-dark);
}

.product-description {
    font-size: 0.875rem;
    color: hsl(0deg 0% 24.03%);
    margin-bottom: 0.75rem;
    text-align: left;

}


.product-rating i {
    color: var(--black);
    font-size: 1rem;
}

.product-rating i.filled {
    color: var(--olive-light);
}

.product-price {
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 0.75rem;
}

.add-to-cart-btn {
    background-color: var(--black);
    color: var(--btn-text);
    border: none;
    border-radius: 0.25rem;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    font-size: 0.875rem;
}

.add-to-cart-btn:hover {
    background: var(--gray-light);
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 0.8rem;
}

.pagination-list {
    display: flex;
    align-items: center;
}

.pagination-list a,
.list-active {
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
}

.pagination-list i {
    font-size: 1.25rem;
    margin-top: 0.2rem;
}

.list-active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .best-sellers-container {
        padding: 2rem;
    }

    .product-grid {
        grid-template-columns: repeat(4, 1fr);
        max-width: 56.25rem;
    }

    .product-image {
        height: 14rem;
    }

    .product-card {
        padding: 0.8rem;
    }
}


@media (max-width: 820px) {
    .best-sellers-container {
        padding: 2rem;
    }

    .product-image {
        height: 11rem;
    }

    .product-card {
        padding: 0.8rem;
    }
}

@media (max-width: 768px) {
    .best-sellers-container {
        padding: 1rem;
    }

    .product-grid {
        grid-template-columns: repeat(4, 1fr);
        max-width: 100%;
    }

    .product-image {
        height: 11rem;
    }

    .product-card {
        padding: 0.7rem;
    }
}

@media (max-width: 640px) {
    .product-grid {
        grid-template-columns: 1fr;
    }

    .product-image {
        height: 24rem;
    }

    .product-card {
        padding-bottom: 0.5rem;
    }
}