.product-showcase {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    padding: 3rem 0 4rem;
    max-width: 85rem;
    margin: 0 auto;
}

.image-container {
    flex: 1;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.text-container h2 {
    font-size: 5.5625rem;
    text-transform: uppercase;
    margin: 0;
}


@media (max-width: 1024px) {
    .text-container h2 {
        font-size: 3.5rem;
    }
}

@media (max-width: 768px) {
    .product-showcase {
        flex-direction: column;
        text-align: center;
    }

    .product-showcase .image-container {
        margin-bottom: 1.25rem;
    }
}

@media (max-width: 30rem) {
    .text-container h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 320px) {
    .text-container h2 {
        font-size: 28.8px;
    }
}