{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/product_detail.css' %}" />

<section class="product-detail-section" aria-labelledby="product-title">
  <div class="breadcrumb-navigation" aria-label="Breadcrumb">
    <a href="{% url 'homepage' %}">Home</a> &gt; 
    <a href="{% url 'products' %}">Products</a> &gt; 
    <span aria-current="page">{{ product.name }}</span>
  </div>

  <div class="product-detail-container">
    <div class="product-detail-image">
      <img src="{{ product.image.url }}" alt="Image of {{ product.name }}" width="400" height="400" loading="lazy"/>
    </div>

    <div class="product-detail-content">
      <div class="content-header">
        <h1 id="product-title">{{ product.name }}</h1>
        <div class="content-header-feedback">
          <div class="content-header-rating" aria-label="Product rating">
            {% for i in stars_range %}
              {% if i <= average_rating %}
                <i class="fas fa-star"></i>
              {% else %}
                <i class="far fa-star"></i>
              {% endif %}
            {% endfor %}
          </div>
          <span class="content-header-reviews">
            ({{ total_reviews }}) {{ total_reviews|pluralize:"comment,comments" }}
          </span>
        </div>

        <div class="content-header-price">
          <span>€{{ product.price }}</span>
        </div>
      </div>

      <div class="content-body">
        <div class="content-body-description">
          <p>{{ product.description }}</p>
        </div>
        <div class="product-actions">
          <form method="POST" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <div class="actions-container">
              <div class="quantity-selector-container">
                <div class="quantity-selector" aria-label="Quantity selector">
                  <button class="quantity-btn decrement" type="button" aria-label="Decrease quantity">
                    <i class="fa-solid fa-minus" aria-hidden="true"></i>
                  </button>
                  <input type="number" name="quantity" class="quantity-input" value="1" min="1" max="99" aria-label="Product quantity" />
                  <button class="quantity-btn increment" type="button" aria-label="Increase quantity">
                    <i class="fa-solid fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="add-to-cart-container">
                <input type="hidden" name="redirect_url" value="{{ request.path }}" />
                <button type="submit" class="add-to-cart-btn" aria-label="Add {{ product.name }} to cart">
                  Add to Cart
                </button>
              </div>
            </div>
          </form>

          {% if user.is_superuser %}
          <div class="admin-actions">
          <a href="{% url 'product_update' product.id %}" class="edit-product-btn">Edit Product</a>
          <a href="{% url 'delete_product' product.id %}" class="delete-btn">Delete Product</a>
          </div>
          {% endif %}
        </div>

        <div class="shipping-info">
          <span class="shipping-text">
            <img src="{% static 'images/shipping-icon.svg' %}" alt="Shipping Icon" width="21" height="auto" />
            Free Shipping on Orders Over €50
          </span>
          <span class="return-text">
            <img src="{% static 'images/return-icon.svg' %}" alt="Return Icon" width="21" height="auto" />
            Free 30-day returns
          </span>
        </div>

        <div class="product-info">
          <div class="key-ingredients">
            <h3>Key Ingredients</h3>
            <button class="plus-minus-btn" aria-expanded="false" aria-controls="key-ingredients-content">+</button>
            <div id="key-ingredients-content" class="content-toggle" style="display: none">
              <ul>
                {% for ingredient in product.key_ingredients.all %}
                  <li>{{ ingredient.name }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="how-to-use">
            <h3>How To Use</h3>
            <button class="plus-minus-btn" aria-expanded="false" aria-controls="how-to-use-content">+</button>
            <div id="how-to-use-content" class="content-toggle" style="display: none">
              <p>{{ product.how_to_use }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="reviews-section">
  <div class="reviews-container">
    <div class="filter-review-container">
      <div class="filter-review">
        <form method="get" id="filter-form">
          <select name="filter" id="filter-review" onchange="document.getElementById('filter-form').submit()">
            <option value="most-recent" {% if filter_option == 'most-recent' %}selected{% endif %}>Most Recent</option>
            <option value="lowest-rating" {% if filter_option == 'lowest-rating' %}selected{% endif %}>Lowest Rating</option>
            <option value="highest-rating" {% if filter_option == 'highest-rating' %}selected{% endif %}>Highest Rating</option>
          </select>
        </form>
      </div>

      <div class="write-review">
        <a href="{% url 'write_review' product.id %}" class="btn">Write a Review</a>
      </div>
    </div>

    <h2>Customer Reviews</h2>
    {% if reviews %}
      {% for review in reviews %}
        <div class="review-card">
          <div class="review-header">
            <div class="customer-name">
              <div class="costumer-title">
                <h5>{{ review.name }}</h5>
                <div class="customer-rating">
                  <div class="rating">
                    {% for i in stars_range %}
                      {% if i <= review.filled_stars %}
                        <i class="fas fa-star"></i>
                      {% else %}
                        <i class="far fa-star"></i>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <h4>{{ review.title }}</h4>
              </div>
            </div>
            <div class="customer-date">
              <time>{{ review.submitted_at|date:"F d, Y" }}</time>
            </div>
          </div>

          <div class="customer-review-text">
            <p>{{ review.review_text }}</p>
          </div>

          <div class="review-details">
            <p><strong>Skin Type:</strong> {{ review.skin_type }}</p> 
            <p><strong>Age:</strong> {{ review.age_group }}</p>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="no-reviews">
        <p>No reviews yet. Be the first to <a href="{% url 'write_review' product.id %}">write a review</a>!</p>
      </div>
    {% endif %}
  </div>
</section>

<script src="{% static 'js/products.js' %}"></script>

{% endblock %}
