{% extends "base.html" %}
{% load static %}
{% block title %}Products{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">

<div class="products-title-page">
    <h1>Shop All</h1>
<h5>({{product_count}} products)</h5>
</div>
<div class="products-container">
    <aside>
        <div class="products-sidebar">
            <div class="sort-container">
                <form method="get">
                    <input type="hidden" name="category" value="{{ selected_category }}">
                    <input type="hidden" name="concern" value="{{ selected_concern }}">
                    <input type="hidden" name="skin_type" value="{{ selected_skin_type }}">
                    <select id="sort" name="sort" onchange="this.form.submit()">
                        <option value="sort-by" disabled {% if not sort_option %}selected{% endif %}>Sort By</option>
                        <option value="price-low-to-high" {% if sort_option == "price-low-to-high" %}selected{% endif %}>
                            Price: Low to High
                        </option>
                        <option value="price-high-to-low" {% if sort_option == "price-high-to-low" %}selected{% endif %}>
                            Price: High to Low
                        </option>
                    </select>
                </form>
            </div>
            <div class="filter-group">
                <h3>Skin Type</h3>

                <ul>
                    {% for skin_type in skin_types %}
                    <li>
                        <a href="?skin_type={{ skin_type.id }}">
                            {{ skin_type.friendly_name }} ({{ skin_type.product_count }})
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="filter-group">
                <h3>Skin Concerns</h3>
                <ul>
                    {% for concern in concerns %}
                    <li>
                        <a href="?concern={{ concern.name }}">
                            {{ concern.friendly_name }} ({{ concern.product_count }})
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="filter-group">
                <h3>Products</h3>
                <ul>
                    <li>
                        <a href="{% url 'products' %}" class="all-products-link">All Products</a>
                    </li>
                    {% for category in categories %}
                    <li>
                        <a href="?category={{ category.name }}">
                            {{ category.friendly_name }} ({{ category.product_count }})
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </aside>
    <div class="mobile-filter">
        <div class="sort-container">
            <form method="get">
                <input type="hidden" name="category" value="{{ selected_category }}">
                <input type="hidden" name="concern" value="{{ selected_concern }}">
                <input type="hidden" name="skin_type" value="{{ selected_skin_type }}">
                <select id="sort" name="sort" onchange="this.form.submit()">
                    <option value="sort-by" disabled {% if not sort_option %}selected{% endif %}>Sort By</option>
                    <option value="price-low-to-high" {% if sort_option == "price-low-to-high" %}selected{% endif %}>
                        Price: Low to High
                    </option>
                    <option value="price-high-to-low" {% if sort_option == "price-high-to-low" %}selected{% endif %}>
                        Price: High to Low
                    </option>
                </select>
            </form>
        </div>
        <button class="filter-toggle" id="filter-toggle">
            <span>Filter</span>
        </button>
    </div>
    <div id="filter-popup" class="popup">
        <div class="popup-content"></div>
    </div>

    <section class="products-content">
        <div class="products-grid">
            {% for product in products %}
            <div class="product-card">
                <div class="product-image">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static 'images/placeholder.png' %}" alt="Placeholder">
                    {% endif %}
                </div>
                <div class="product-info">
                    <h4 class="product-title">
                        <a href="{% url 'product_detail' product.id %}">
                            {{ product.name }}
                        </a>
                    </h4>
                    <p class="product-description">{{ product.description }}</p>
                    <div class="product-rating">
  {% for star in range %}
        {% if star <= product.average_rating %}
            <i class="fas fa-star"></i> 
        {% else %}
            <i class="far fa-star"></i> 
        {% endif %}
    {% endfor %}
                    </div>
                    <p class="product-price">€{{ product.price }}</p>
                    <button class="add-to-cart">Add to Cart</button>
                </div>
            </div>
            {% endfor %}
            {% if products.count == 0 %}
                <p>No products found in this category.</p>
            {% endif %}
        </div>
        
    </section>
    
</div>
<script src="{% static 'js/products.js' %}"></script>
{% endblock %}
